<div class="bg-dark p-4">
  <div class="btn btn-default navbar-btn"><a href="/chat_rooms" kind="secondary" class="btn btn-default navbar-btn">Sign In</a></div>
    <h4 class="text-white">Welcome!!</h4>
</div>

