<div class="pos-f-t">
  <div class="new_user" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <h4 class="text-white">CHATAPP</h4>
        <div class="bg-dark p-2">
          <div class="float-right">
            <div class="new_user" id="navbarToggleExternalContent">
              <% if current_user %>
                Logged in as <%= current_user.email %>
                <%= link_to "Log Out",destroy_user_session_path, method: :delete, class: 'btn btn-default navbar-btn'%>
              <% end %>
            </div>
          </div> 
        </div> 
    </div>  
  </div> 
</div>
  
